# Assignment 4. Machine learning
Predicting the romantic interest of students from a portuguese language course

**Name:** Lotte Meijer 
**Student nr.:** 1661695

In [12]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
import math
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [13]:
df = pd.read_csv('student-por.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [14]:
df_subset = df[['romantic', 'Fedu', 'goout', 'famrel', 'freetime', 'health', 'age', 'Medu']]

from sklearn.preprocessing import normalize
X = df_subset[['Fedu', 'goout', 'famrel', 'freetime', 'health', 'age', 'Medu']]
X = normalize(X)
y = df_subset['romantic'] #We need to take out the romantic as our Y-variable

In [15]:
df_subset.Fedu.value_counts()
df_subset.goout.value_counts()
df_subset.famrel.value_counts()
df_subset.freetime.value_counts()
df_subset.health.value_counts()
df_subset.age.value_counts()
df_subset.Medu.value_counts()

2    186
4    175
1    143
3    139
0      6
Name: Medu, dtype: int64

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it into different variables

In [17]:
from sklearn.neighbors import KNeighborsClassifier #the object class we need

knn = KNeighborsClassifier(n_neighbors=5) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
knn.score(X_test, y_test) #calculate the fit on the test data

print("57% of the romantic relationships is guessed correctly, I think that is a very high number given that the data is not really created to measure the romantical interest. So the algorithm works very well.")

57% of the romantic relationships is guessed correctly, I think that is a very high number given that the data is not really created to measure the romantical interest. So the algorithm works very well.

In [18]:
from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[93, 35],
       [48, 19]], dtype=int64)

In [22]:
#In order to read it easily , let's make a dataframe out of it, and add labels to it.
conf_matrix = pd.DataFrame(cm, index=['yes', 'no'], columns = ['yes_p', 'no_p']) 
conf_matrix

     yes_p  no_p
yes     93    35
no      48    19

In [24]:
print("The way to read this is that of the drama movies, 93 are correctly predicted as in a relationship, 48 are predicted as in a relationship but they are not. The recall and precision for if someone is romanticaly involved is:")

The way to read this is that of the drama movies, 93 are correctly predicted as in a relationship, 48 are predicted as in a relationship but they are not. The recall and precision for if someone is romanticaly involved is:

$recall = \frac{93}{93 + 48} = .66$

$precision = \frac{93}{93 + 35} = .73$